{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/update/{{ user.id }}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <input name="uid" required value="{{ user.uid }}">
            </td>
        </tr>
        <tr>
            <td>
                <input name="uname" required value="{{ user.uname }}">
            </td>
        </tr>
        <tr>
            <td>
                <input name="uemail" required value="{{ user.uemail }}">
            </td>
        <tr>
            <td>
                <input name="ucontact" required value="{{ user.ucontact }}">
            </td>
        </tr>

        <tr>
            <td>
                <input name="uans" required value="{{ user.uans }}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" >Update</button>
            </td>
        </tr>
    </table>


</form>
{% endblock %}